language: perl
perl:
- '5.18'
- '5.16'
- '5.14'
- '5.12'
- '5.10'

env:
  global:
    - secure: "C+aEGxxDdNbEpoQ/XspXP/T8fvG0eE0iZE7QTklHvR4nHbuO1y9Is/LYwR+d0dgniMd9NiQtvQb5iGQCWL3NWn9r+sK2EO9zmniUZDGjOSPuVDYSmWc5fhZ/ira1mKnXECxC7fG45cLyV8zfmg3Zo8yOmGuA6oM36akEufz/0aY="
    - secure: "V98gDu77N3bD+q/2T+xgeHwnL74IrGL8xMsoUoqa1Thkd+GMM7ql9gfRmvUy2bKzgbeDP9hWitfOkj2ZjNsTPYLAUPj2CDyak7tyYgSK9yC6y7OiOGyxgjgGUofF+Mp0xr1w0iHCw13QvQcNqRuxFGpMgf72dL0sRiopLzEaE2c="
    - secure: "ZlDFC7HCT5jzDfMVt4ErlB98182RYUq3FZqEGu4X2GrOdttDTfIkUg8PLcgpQKkBbS82W/kPaX6lk6lPQ9gjckA+UPGcecrFpgcJu2gv145DehBz80VlQZiY8O/ammLse5u4fHDE9/zHqPwR0+z7ZtiZuKf9bGR1ysR66Tn0HG0="
    - secure: "IzgrtNs0I9fjGuVkncs9QQ/SRsKxnZiaSfLpGqdkDsST/8kzNy1VtYGZMcESGYNJIjWN4+0+Y4bdneFFTfN/e02aJeVh+fHj/ODRb64vhclqxUiCymToKhDgL2iXu0h01hAvdORD+Ig9Z2LfJB5U6Ire2d6agb0oCeYXhCPnpnk="
    - secure: "L/C0yTzmp8r+ViBNWoq+lGwje54RxYUcYmFZFi3LzkvUMChBRe1JPTBU5zU6ZmzhPbO+oTZ5YhgulQZl6yQJO21AoEqpi4j5jceP4Lui2dZBA8Wnu0UF+tNjB2U2uaAdIHq0wTFuRpyr1nasmXSOc9q/MzVFALCxp5o5V7rmcrY="

before_install:
     cpanm -n Devel::Cover::Report::Coveralls

install:
     - export RELEASE_TESTING=1 AUTOMATED_TESTING=1 AUTHOR_TESTING=1 HARNESS_OPTIONS=c HARNESS_TIMER=1
     - cpanm --quiet --notest Devel::Cover::Report::Coveralls
     - cpanm --quiet --notest --installdeps .

script:
     - PERL5OPT=-MDevel::Cover=-coverage,statement,branch,condition,path,subroutine prove -lrsv t && cover i-test -report coveralls


